<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <input class="form-control" placeholder="Surveycode"><br>
        <button type="button" class="btn hundertProzent pressButton">Enter</button>
      </div>
      <hr class="horizontalLine">
      <div class="col-sm">
        <input class="form-control" placeholder="Username" name="username" id="username"><br>
        <input class="form-control" placeholder="Password" name="password" id="password"><br>
        <button id="username" type="button" class="btn twoButtons pressButton">Login</button>
        <button  routerLink="../signup" type="button" class="btn twoButtons pressButton">Sign Up</button>
      </div>
    </div>
  </div>
</div>
