<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <label for="username">Surveycode</label>
        <input #survey id="Surveycode" class="form-control"><br>
        <button type="button" class="btn hundertProzent pressButton" (click)="routeToSurvey(survey.value)">Enter</button>
      </div>
      <hr class="horizontalLine">
      <div class="col-sm">
          <label for="username">Username</label>
        <input class="form-control" name="username" id="username"><br>
        <label for="username">Password</label>
        <input class="form-control" name="password" id="password"><br>
        <button id="username" type="button" class="btn twoButtons pressButton">Login</button>
        <button  routerLink="../signup" type="button" class="btn twoButtons pressButton">Sign Up</button>
      </div>
    </div>
  </div>
</div>
