img{
    width:auto;
    height:40px;
    margin-left: 1vw;
}

button{
    position: absolute;
    right: 1vw;
}
button:hover{
    background: white;
    color: black;
    fill:black;
    svg{
        fill:black;
    }
}

svg{
    fill: white;
}
