.card {
   margin-left: auto;
   margin-right: auto;
   width: 30rem;
   max-height: 30rem;
   opacity: 0.95;
   align-self: center;
}

@media only screen and (max-width: 600px) {
   .card {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      opacity: 0.95;
      align-self: center;
   }
}
/* if you want the background only on the Startpage
.background {
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-image: url(../../assets/DHBWIntro.jpg);
}
*/

/* if you want the background everywhere*/
body {
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-image: url(../../assets/DHBWIntro.jpg);
}

.logo {
   width: 10rem;
   height: 10rem;
   text-align: center;
}

.form-control:focus {
   border-color: #e30613;
   box-shadow: 0 0 0 0.2rem rgba(227, 6, 19, 0.25);
}

.btn.btn_dhbw {
   margin: 0;
}

.btn_dhbw {
   background-color: #e30613 !important;
   color: white !important;
   position: relative;
}

.btn_dhbw:hover {
   background-color: white;
   border-color: #e30613;
}

.btn_split {
   width: 100%;
}

.div_button_split {
   display: flex;
   align-items: flex-start;
   width: 100%;
}

.loginLink {
   text-decoration: none;
}

.loginLink:hover {
   color: #4a5358;
   text-decoration: none;
}

.bg-card-background {
   background-color: lightgrey;
}

.card-header {
   color: #4a5358;
}

.card-label {
   color: #4a5358;
   width: 100%;
}

.md-form input {
   box-shadow: 0 1px 0 0 grey !important;
   border-bottom: 1px solid grey !important;
}
