.container {
   padding-top: 7rem; /*vertical Alignment needed*/
   margin: auto;
   width: 100%;
   height: 94vh;
}

@media only screen and (max-width: 800px) {
   .container {
      padding-top: 1rem; /*vertical Alignment needed*/
      margin: auto;
      width: 100%;
      height: 94vh;
      font-size: 1rem !important;
   }
}

.flyout {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   justify-content: space-between;
}

.home-feature-box .fa {
   font-size: 6rem;
}

.home-feature-box span {
   display: block;
   color: #111;
   font-weight: bold;
   margin-top: 1.5rem;
}

.example-components-list li > a {
   color: #495057;
}

.example-components-list li:last-child > a {
   border-bottom: 0;
}

.example-components-list li > a .fa {
   color: rgba(0, 0, 0, 0.35);
   float: right;
}

.icon-dhbw-red {
   color: #e30613 !important;
}

.btn-outline-dhbw-red {
   color: rgba(227, 6, 19, 0.9);
   background-color: transparent;
   border: 1px solid rgba(227, 6, 19, 0.5);
   margin: 0.5rem;
}

.btn-inside-padding {
   padding: 0.38rem !important;
}

.fg-dhbw-red {
   color: #757575;
}

.fg-dhbw-red:hover,
.fg-dhbw-red:focus {
   color: #e30613;
}

.fg-dhbw-links {
   display: flex;
   align-items: center;
   justify-content: center;
}

.fg-dhbw-icon {
   margin: 1rem 0.3rem 0;
}

.card-body {
   padding-bottom: 0.5rem;
}

.form-group {
   display: flex;
   align-items: right;
   justify-content: center;
   flex-direction: column;
   margin-bottom: 0;
}

body {
   background-image: none;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #eeeeee !important;
}

.md-form input[type='password']:not(.browser-default):not([readonly]):focus + label {
   color: #e30613;
}

.md-form input[type='text']:not(.browser-default):not([readonly]):focus + label {
   color: #e30613;
}

/* Select bar on survey masters and published surveys */
.css-1pahdxg-control,
.css-1pahdxg-control:hover,
.css-1pahdxg-control:focus {
   border-color: #e30613 !important;
   box-shadow: 0 0 0 1px #e30613 !important;
}
