
.dhbw_result_background{
    background-color: white !important;
    padding: 5px;
    margin-bottom: 5rem;
    border-radius: 20px;
}
.alignBackButton{
    margin-left: 2rem;
    margin-bottom: 0;
}

.dhbw_header_margin{
    margin-bottom: 5%;
    padding: 0;
}

.dhbw_footer_margin{
    margin-bottom: 20rem;
    padding: 0;
}

.dhbw_margin_p{
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0;
    width: 50%;
}
.caption{
    text-shadow: 1px 1px #ffffff; 
} 

@media only screen and (max-width: 600px) {
    h2{
        margin-bottom: 5%;
        padding: 0;
        font-size: 1.5rem;
    }
 }

 .dhbw_result_container{
    margin-top: -5rem !important;
 }

 .dashboard-fg-dhbw-links {
    display: flex;
    align-items: center;
 }