<div class="content">
  <form action="senden.html" id="person">
    <label class="h2" form="person">Sign Up</label>

    <br>

    <label for="username">Username</label>
    <input type="text" name="username" id="username" maxlength="30">

    <br>

    <label for="mail">E-Mail</label>
    <input type="text" name="mail" id="mail" maxlength="50">

    <br>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" maxlength="50">

    <br>

    <label for="password-repeat">Repeat Password</label>
    <input type="password" name="password-repeat" id="password" maxlength="50">

    <br>

    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
  </form>
</div>
