:root {
  --main-dark-blue: #384B5F;
  --main-medium-blue: #45637C;
  --main-light-blue: #4B677F;
}

html {
  zoom: reset !important;
  height: 100%;
}

app-root {
  background-color: #FFFFFF;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #CCCCCC;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  color: #000000;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 10%;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
}

p {
  color: #000000;
  font-size: 2rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

li {
  color: #000000;
  font-size: 1.1vw;
  font-weight: lighter;
  //padding-top:2%;
}

.pressButton{
  background-color: #E10217; 
  color: #FFFFFF;
}
.hundertProzent{
  width: 100%;
}
h1 {
  color: #000000;
  font-size: 1.6vw;
  font-weight: bold;
}

h2 {
  color: #000000;
  font-size: 1.3vw;
  font-weight: bold;
}
