.panel.card.svd_content.svd-dark-bg-color {
   width: fit-content;
}

.survey-card {
   width: auto;
   padding-bottom: 0.6rem;
}

#surveyCreatorContainer {
   margin-top: 1.9rem;
}

#editIcon,
#trashIcon {
   margin-left: 1rem;
}

#trashIcon:hover {
   color: #e30613;
}

#survey-participate {
   padding-top: 3rem;
}
