.panel.card.svd_content.svd-dark-bg-color {
   width: fit-content;
}

.survey-card {
   width: auto;
   padding-bottom: 0.6rem;
}

#surveyCreatorContainer {
   margin-top: 1.9rem;
}

.specialIcons {
   margin: 0.5rem;
}
.specialIcons:hover {
   color: #e30613;
}

#survey-participate {
   padding-top: 3rem;
}

.sv_progress_bar {
   background-color: #e30613 !important;
}

.sv_next_btn {
   background-color: #e30613 !important;
}

.sv_prev_btn {
   background-color: #e30613 !important;
}

.sv_complete_btn {
   background-color: #e30613 !important;
}

.sv_q_dropdown_control {
   border-color: rgb(103, 106, 108) !important;
}

.surveyjs .sv_header {
   display: none;
}

.surveyjs .sv_main .sv_body {
   border-top: 0px !important;
}

.sv_main.sv_default_css .sv_q_rating_item.active .sv_q_rating_item_text {
   background-color: #e30613 !important;
   border-color: #e30613 !important;
}

.sv_main .sv_q_rating_item .sv_q_rating_item_text:hover {
   border: 1px solid #e30613 !important;
}

.sv_main.sv_default_css textarea:focus {
   border-color: #e30613 !important;
}

.surveyjs{
   margin-bottom: 10rem;
}
